<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Services</title>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,500i" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="barcut/css/linearicons.css">
	<link rel="stylesheet" href="barcut/css/font-awesome.min.css">
	<link rel="stylesheet" href="barcut/css/availability-calendar.css">
	<link rel="stylesheet" href="barcut/css/magnific-popup.css">
	<link rel="stylesheet" href="barcut/css/nice-select.css">
	<link rel="stylesheet" href="barcut/css/owl.carousel.css">
	<link rel="stylesheet" href="barcut/css/bootstrap.css">
	<link rel="stylesheet" href="barcut/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="barcut/css/main.css">
</head>

<body>

	<!--================ Start Header Area =================-->
	<header class="header-area">
		<div class="container">
			<div class="header-wrap">
				<div class="header-top d-flex justify-content-between align-items-center navbar-expand-lg">
					<div class="col menu-left">
					<a th:href="@{/index}">Home</a>
						<a th:href="@{/about}">about</a>
						<a th:href="@{/barbers}">barbers</a>
						<a th:href="@{/gallery}">gallery</a>
						<a th:href="@{/contact}">contact</a>
						<a th:href="@{/services}">services</a>
						<a th:href="@{/booking}" class="active" href="barbers.html">Booking</a>
					</div>
					<div class="col-3 logo">
						<a th:href="@{/index}"><img class="mx-auto" src="img/logo.png" alt=""></a>
					</div>
					<nav class="col navbar navbar-expand-lg justify-content-end">

						<!-- Toggler/collapsibe Button -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
							<span class="lnr lnr-menu"></span>
						</button>

						<!-- Navbar links -->
						<div class="collapse navbar-collapse menu-right" id="collapsibleNavbar">
							<ul class="navbar-nav justify-content-center w-100">
								<li class="nav-item hide-lg">
									<a class="nav-link" href="index.html">Home</a>
								</li>
								<li class="nav-item hide-lg">
									<a class="nav-link" href="about.html">about</a>
								</li>
						
								<li class="nav-item hide-lg">
									<a class="nav-link" href="barbers.html">barbers</a>
								</li>
								<li class="nav-item hide-lg">
									<a class="nav-link" href="gallery.html">gallery</a>
								</li>
						
						
							
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start banner Area =================-->
	<section class="banner-area relative">
		<div class="banner-img">
			<img class="img-fluid" src="img/banner/banner-bg.jpg" alt="">
			<div class="overlay overlay-bg"></div>
		</div>
		<div class="banner-content text-center">
			<div class="breadcrmb">
			
			</div>
			<h1>services</h1>
		</div>
	</section>
	<!--================ End banner Area =================-->
	<!--================ Start Booking area =================-->
<form method="post" th:object="${book}" th:action="@{/booking}">

	<input th:field="*{userName}" name="EMAIL" placeholder="Enter your name..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name... '" required="" type="text"/></br>
	<input th:field="*{lastName}" name="EMAIL" placeholder="Enter your last name..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your last name...'" required="" type="text"></br>
	<input th:field="*{cut}" name="EMAIL" placeholder="Enter name of the cut..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter name of the cut...'" required="" type="text"></br>
	<input th:field="*{thetime}" name="EMAIL" placeholder="Enter your timming..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your timming... '" required="" type="time"></br>
	<input th:field="*{thedate}" name="EMAIL" placeholder="Enter the date." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the date '" required="" type="date"></br>
	<input th:field="*{phoneNumber}" name="EMAIL" placeholder="Enter phone number.." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email"></br>
	<input th:field="*{email}" name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email"></br>
	   
	 <button type="submit">Submi</button>
								
	</form>
			<!--================ End Booking  Area =================-->					

	<!--================ Start Footer Area =================-->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row footer-inner">
				<div class="col-lg-5 col-sm-6">
					<aside class="f-widget">
						<div class="f-title">
							<h3>About Me</h3>
						</div>
						<p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into
							improving your skills,</p>

					</aside>
				</div>
				<div class="col-lg-5 col-sm-6">
					<aside class="f-widget news-widget">
						<div class="f-title">
							<h3>Newsletter</h3>
						</div>
						<p>Stay updated with our latest trends</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="subscribe_form relative">
								<div class="input-group d-flex flex-row">
									<input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
									 required="" type="email">
									<button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
								</div>
								<div class="mt-10 info"></div>
							</form>
						</div>
					</aside>
				</div>
				<div class="col-lg-2">
					<aside class="f-widget social-widget">
						<div class="f-title">
							<h3>Follow Me</h3>
						</div>
						<p>Let us be social</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</aside>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 ab-widget">
					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End Footer Area =================-->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.tabs.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/main.js"></script>
</body>

</html>